@mixin clearfix {
    &::after {
        content: ""; 
        display: table;
        clear: both;
    }
}

// center div 
@mixin absCenter {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

// MEDIA QUERIES 
/* 
0 - 600px: Phone 
600 - 900px: Tablet 
900 - 1200px: Tablet landscape 
[1200 - 1800] is where our normal styles apply. 
1800px + : Big desktop 
*/

// convert unit to em instead of px because if the user changes the default font size,
//    media queries won't affect by that. However, we want them to be affected.
//  1em = 16px 
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { // 600px / 16 = 37.5em
            @content 
        };
    }

    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { // 900px 
            // allows us to pass a block of code 
            @content 
        };
    }

    @if $breakpoint == tab-land {
        @media (max-width: 75em) {  // 1200px
            // allows us to pass a block of code 
            @content 
        };
    }

    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) {   // 1800px 
            // allows us to pass a block of code 
            @content 
        };
    }
}