.section-about {
    background-color: $color-grey-light;
    padding: 20rem 0; 
    // move up to cover the white background space for hero image 
    // calculate the triangle space of a hero image (95vh - 80) 
    margin-top: -20vh;   

    @include respond(tab-port) {
        padding: 20rem 0; 
    } 
}

.section-features {
    padding: 20rem 0; 
    background-image: linear-gradient(
            to right bottom, 
            rgba($color-primary-light, 0.8), 
            rgba($color-primary-dark, 0.8)), 
            url('../img/nat-4.jpg');
    background-size: cover;
    // move up to cover the white space 
    margin-top: -10rem; 

    // skew entire section 
    transform: skewY(-7deg);    

    @include respond(tab-port) {
        padding: 10rem 0; 
    }

    // select direct child is the class with 'row' 
    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $color-grey-light;
    padding: 25rem 0 15rem 0; 
    margin-top: -10rem; 

    @include respond(tab-port) {
        padding: 15rem 0 10rem 0; 
    }
}

.section-stories {
    // set position to relative for background video 
    position: relative;
    padding: 15rem 0;

    @include respond(tab-land) {
        padding: 2rem 0; 
    }

    @include respond(tab-port) {
        padding: 1rem 0;  
    }
}

.section-book {
    padding: 15rem 0; 
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

    @include respond(tab-port) {
        padding: 10rem 0;  
    }
}

.book {
    // create half solid and half transparent on background image 
    background-image: linear-gradient(105deg, 
                                rgba($color-white, .9) 0%, 
                                rgba($color-white, .9) 50%,
                                transparent 50%), url(../img/nat-10.jpg);
    background-size: cover; // can use 100% as cover 
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

    @include respond(tab-land) {
        background-image: linear-gradient(105deg, 
                            rgba($color-white, .9) 0%, 
                            rgba($color-white, .9) 65%,
                            transparent 70%), url(../img/nat-10.jpg);
        background-size: cover;                    
    }

    @include respond(tab-port) {
        background-image: linear-gradient(to right, 
                            rgba($color-white, .9) 0%, 
                            rgba($color-white, .9) 100%,
                            transparent 100%), url(../img/nat-10.jpg);
        background-size: cover;                    
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include respond(tab-land) {
            width: 65%; 
        }

        @include respond(tab-port) {
            width: 100%; 
        }
    }
}